.app {
  text-align: center;
  padding: 20px;
}

button {
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
}

.category-card,
.meal-card {
  margin: 20px;
}

img {
  width: 180px;
  border-radius: 8px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}